body, h1 { font-family: sans-serif; }

body {margin: 0;}

h1 { color: navy;}

.pusher {
    height: 800px;
}

.debug {
    position: fixed;
    right: 0;
    top: 40px;
    background-color: cadetblue;
    padding: 1rem;
}
/************************* header **************************/
header, footer {
    height: 200px;
    background-color: burlywood;
}

/************************* header **************************/
.debugger {
    &::before {
/*//        content: 'all';*/
/*        // Mobile*/
        @include mq('small', 'max') {
/*            // Landscape*/
            @media (orientation: landscape) {
                content: 'mobile landscape';
            }
/*            // Portrait*/
            @media (orientation: portrait) {
                content: 'mobile portrait';
            }
        }
/*        // Desktop*/
        @include mq('small', 'min') {
            content: 'desktop';
        }
    }
}
